<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Listar arquivos de projeto</div>
				<div class="panel-body">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>Título</th>
								<th>Descrição</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="projectFile in projectFiles">
								<td>{{ projectFile.name }}</td>
								<td>{{ projectFile.description | limitTo: 50 }}{{ (projectFile.description.length < 50) ? '' : '...'  }}</td>
								<td>
									<project-file-download-directive id-project="{{ projectFile.project_id }}" id-file="{{ projectFile.id }}"></project-file-download-directive>
									<a ng-href="#/projects/{{ projectFile.project_id }}/files/{{ projectFile.id }}/edit" class="btn-sm btn btn-primary">Editar</a>
									<a ng-href="#/projects/{{ projectFile.project_id }}/files/{{ projectFile.id }}/destroy" class="btn-sm btn btn-danger">Excluir</a>
								</td>
							</tr>
							<tr>
								<td colspan="3" ng-show="projectFiles.length == 0">
									<div class="alert alert-info">
										Nenhum arquivo encontrado.
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<a ng-href="#/projects/{{ project_id }}/files/create" class="btn btn-primary">Adicionar</a>
				</div>
			</div>
		</div>
	</div>
</div>